.form {
  display: flex;
  flex-direction: column;
  border: none;
  margin: 0 36px;
  margin-top: 25px;
}
@media screen and (max-width: 767px) {
  .form {
    margin: 0 22px;
    margin-top: 50px;
  }
}
