.popup__input {
  height: 27px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  background-color: transparent;
  outline: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 30px;
  margin-bottom: 0;
}

.popup__input:focus {
  outline-color: #bcbcc4;
}
.popup__input:nth-child(2n) {
  margin-bottom: 0;
}
