.popup__submit-button {
  width: 358px;
  min-height: 50px;
  background-color: black;
  color: white;
  margin-right: auto;
  margin-left: auto;
  margin-top: 48px;
  border: none;
  outline: none;
  border-radius: 2px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 35px;
}

.popup__submit-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.popup__submit-button[disabled] {
  pointer-events: none;
}

@media screen and (max-width: 767px) {
  .popup__submit-button {
    width: 238px;
    min-height: 46px;
    margin: 45px auto 25px;
    font-size: 14px;
    line-height: 17px;
  }
}
