.popup__forms {
  display: flex;
  flex-direction: column;
  border: none;
  margin-right: 36px;
  margin-left: 36px;
  margin-top: 45px;
  margin-bottom: 0;
}
@media screen and (max-width: 767px) {
  .popup__forms {
    margin: 0 22px;
    margin-top: 70px;
  }
}
