.gallery-cards__container {
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  position: relative;
  max-width: 282px;
  background-color: white;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
}
