.elements {
  max-width: 880px;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 17px 20px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 36px;
}

@media screen and (max-width: 1024px) {
  .elements {
    width: 75%;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 767px) {
  .elements {
    width: 95%;
    grid-template-columns: auto;
  }
}
