.popup__close-button {
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  position: absolute;
  top: -40px;
  right: -40px;
}

.popup__close-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .popup__close-button {
    top: -37px;
    right: -3px;
    background-color: black;
  }
}
