.profile__avatar {
  max-width: 120px;
  border-radius: 50%;
}
@media screen and (max-width: 1024px) {
  .profile__avatar {
   margin-left: 30px;
  }
}
@media screen and (max-width: 767px) {
  .profile__avatar {
   margin-left: 0;
  }
}
