.footer {
  max-width: 880px;
  margin: 0 auto;
  padding-top: 67px;
  padding-bottom: 60px;
}
@media screen and (max-width: 1024px) {
  .footer {
    max-width: 620px;
  }
}
@media screen and (max-width: 767px) {
  .footer {
    max-width: 282px;
    padding-top: 48px;
    padding-bottom: 36px;
  }
}
